<footer id="footer" class="container dark-bg-1 text-center">
  <div class="row">

    <div class="col-1-of-3">
      <p>&nbsp;</p>
      <h4><b>PROGRAM</b></h4>
      <ul class="footer-menu">
        <li>Luni – Vineri: 11:00 – 19:00</li>
        <li>Sambata: Inchis</li>
        <li>Duminica: Inchis</li>
      </ul>
    </div>

    <div class="col-1-of-3">
      <p>&nbsp;</p>
      <h4><b>PAGINI UTILE</b></h4>
      <ul class="footer-menu">
          <li><a href="/cv.html">Despre Leni Burlacu</a></li>
          <li><a href="/etica.html">Cod Etica Profesionala</a></li>
          <li><a href="/testimoniale.html">Testimoniale</a></li>
      </ul>
    </div>

    <div class="col-1-of-3">
      <p>&nbsp;</p>
      <h4><b>CONTACT</b></h4>
      <ul class="footer-menu">
        <li>Leni Burlacu</li>
        <li>adresa</li>
        <li>nr tel</li>
        <li>email</li>
      </ul>
    </div>

  </div>
</footer>

<div class="container black-bg">
  <div class="row">
      <p></p>
      <h5 class="text-center">2023 © Psihoterapie Sand Play</h5>
  </div>
</div>

<script type="text/javascript" src="/assets/js/script.js"></script>
