<footer id="footer" class="container dark-bg-1 text-center">
  <img src="/assets/img/sand.jpg" width="100%">

  <div class="row">

    <div class="col-1-of-3">
      <p>&nbsp;</p>
      <h4><b>PROGRAM</b></h4>
      <ul class="footer-menu">
        <li>Luni – Vineri: 11:00 – 19:00</li>
        <li>Sambata: Inchis</li>
        <li>Duminica: Inchis</li>
      </ul>
    <p><i>Programările se fac la telefon/WhatsApp.</i></p>
    </div>

    <div class="col-1-of-3">
      <p>&nbsp;</p>
      <h4><b>PAGINI UTILE</b></h4>
      <ul class="footer-menu">
          <li><a href="/despre.html">Despre Leni Burlacu</a></li>
          <li><a href="/CV-Leni-Burlacu-2023.pdf">Leni Burlacu CV</a></li>
          <li><a href="/etica.html">Cod Etică Profesională</a></li>
          <li><a href="/testimoniale.html">Testimoniale</a></li>
          <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>

    <div class="col-1-of-3">
      <p>&nbsp;</p>
      <h4><b>CONTACT</b></h4>
      <ul class="footer-menu">
        <li><b>Leni Burlacu</b></li>
        <li>Str Grănicerului nr 8, scara B, etaj 1, interfon 04, Constanța</li>
        <li>0744 576 795</li>
        <li><i>burlaculeny</i> @ <i>yahoo.com</i> </li>
      </ul>

      {% include social.html %}
    </div>

  </div>
</footer>

<div class="container black-bg">
  <div class="row">
      <p></p>
      <h5 class="text-center">2023 © Psihoterapie Sandplay</h5>
  </div>
</div>

<script type="text/javascript" src="/assets/js/script.js"></script>
