<div id="header" class="container">
  <div class="row">

    <div id="main-menu">
      <div id="main-menu-lg" class="hide-xs hide-sm hide-md">
        <ul class="menu">
          <li><a href="/index.html">Acasă</a></li>
          </li>
          <li class="toggle orange" onclick="toggle_submenu('submenu_despre')">
            <a href="/despre.html">Despre</a>
            <ul class="submenu" id="submenu_despre">
              <li><a href="/assets/files/CV-Leni-Burlacu-2023.pdf" target="_blank">Leni Burlacu CV</a></li>
              <li><a href="/etica.html">Cod Etică Profesională</a></li>
              <li><a href="/testimoniale.html">Testimoniale</a></li>
            </ul>
          </li>
          <li class="toggle orange" onclick="toggle_submenu('submenu_servicii')">
            <a href="/servicii.html">Servicii Psihologice</a>
            <ul class="submenu" id="submenu_servicii">
              <li><a href="/hipnoza.html">Hipnoză</a></li>
              <li><a href="/sandplay.html">Terapie Sandplay</a></li>
            </ul>
          </li>
          <li><a href="/formare.html">Formare pentru Psihologi</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
      <div id="main-menu-sm" class="hide-lg hide-xl">
        <img src="/assets/img/menu.png" id="toggle-menu" alt="menu graphic">
      </div>
      <div id="main-menu-mobile" style="display:none">
          <li><a href="/index.html">Acasă</a></li>
          <li><a href="/despre.html">Despre Leni Burlacu</a></li>
          <li><a href="/etica.html">Cod Etică Profesională</a></li>
          <li><a href="/testimoniale.html">Testimoniale</a></li>
          <li><a href="/servicii.html">Servicii Psihologice</a></li>
          <li><a href="/sandplay.html">Terapia Sandplay</a></li>
          <li><a href="/hipnoza.html">Hipnoza Ericksoniană</a></li>
          <li><a href="/formare.html">Formare pentru Psihologi</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <p>&nbsp;</p>
          <a id="close-menu">x</a>
      </div>
    </div>

  </div>
</div>
