<div class="container blue-bg hide-xs hide-sm hide-md" id="top-bar">
  <div class="row text-right">
    0723 456 789 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LeniBurlacu@protonmail.com
  </div>
</div>

<div id="header" class="container grey-bg">
  <div class="row">
    <div id="logo">
      <div id="logo-lg" class="hide-xs hide-sm hide-md left">
        <h1 id="header-text"><a href="/index.html">Leni Burlacu</a></h1>
      </div>
      <div id="logo-sm" class="hide-lg hide-xl full-width text-left">
        <h1 id="header-text"><a href="/index.html">Leni Burlacu</a></h1>
      </div>
    </div>

    <div id="main-menu">
      <div id="main-menu-lg" class="hide-xs hide-sm hide-md right">
        <ul class="menu menu-top">
        </ul>
        <ul class="menu menu-bottom">
          <li><a href="/index.html">acasa</a></li>
          </li>
          <li class="toggle" onclick="toggle_submenu('submenu_despre')">despre
            <ul class="submenu" id="submenu_appointment">
              <li><a href="/cv.html">Leni Burlacu CV</a></li>
              <li><a href="/etica.html">Cod Etica Profesionala</a></li>
              <li><a href="/testimoniale.html">Testimoniale</a></li>
            </ul>
          </li>
          <li><a href="/servicii.html">Servicii Psihologice</a></li>
          <li><a href="/formare.html">Formare Pentru Psihologi</a></li>
          <li><a href="/contact.html">contact</a></li>
        </ul>
      </div>
      <div id="main-menu-sm" class="hide-lg hide-xl">
        <img src="/assets/img/menu.png" id="toggle-menu" alt="menu graphic">
      </div>
      <div id="main-menu-mobile" style="display:none">
          <li><a href="/index.html">acasa</a></li>
          <li><a href="/cv.html">Leni Burlacu CV</a></li>
          <li><a href="/etica.html">Cod Etica Profesionala</a></li>
          <li><a href="/testimoniale.html">Testimoniale</a></li>
          <li><a href="/servicii.html">Servicii Psihologice</a></li>
          <li><a href="/formare.html">Formare Pentru Psihologi</a></li>
          <li><a href="/contact.html">contact</a></li>
          <p>&nbsp;</p>
          <a id="close-menu">x</a>
      </div>
    </div>

  </div>
</div>
